.popup-img {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba( 0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;

    span {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 40px;
        font-weight: 700;
        color: $white;
        cursor: pointer;
        z-index: 100;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid $white;
        border-radius: 5px;
        width: 500px;
        object-fit: cover;
    }
}

// Media Queries

@media (max-width: 768px) {

    .popup-img {

        img {
            width: 90%;
        }
    }
}